body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #cfeffd, #ffffff);
  text-align: center;
  color: #333;
}

.container {
  padding: 20px;
}

h1 {
  font-size: 2em;
  color: #228b22;
}

.desc {
  color: #555;
  font-size: 1.1em;
  margin-bottom: 20px;
}

.section {
  margin-top: 30px;
}

.footer {
  margin-top: 40px;
  font-weight: bold;
}
